---
# 1. ConfigMap (données NON sensibles)
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: devops
data:
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/studentdb
  SPRING_DATASOURCE_USERNAME: root
  SPRING_JPA_HIBERNATE_DDL_AUTO: update

---
# 2. Secret (données sensibles)
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: devops
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpassword

---
# 3. Deployment Spring Boot
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app
        image: azizbenammar11/student-management:1.0.0
        ports:
        - containerPort: 8089
        env:
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: SPRING_DATASOURCE_URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: SPRING_DATASOURCE_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_ROOT_PASSWORD
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: SPRING_JPA_HIBERNATE_DDL_AUTO

---
# 4. Service Spring Boot (NodePort)
apiVersion: v1
kind: Service
metadata:
  name: student-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
  - port: 8089
    targetPort: 8089
    nodePort: 30089
